.background-site{
    background-color: #0e0019;
}
header, .navbar{
    background-color: #0e0019;
}
nav {
    border-bottom: 1px solid #7931ff;
}

.titulo {
    font-family: inter;
    width: 40%;
}
.botao-navbar {
    border-color: #602ac4;
    
}

.navbar-collapse {
    flex-grow: 0;
    transition: 0.7s;
    margin: 1em 2em 0 0;
}
.navegacao a {
    color: #7931ff;
    font-family: inter;
    font-size: 1.3em;
    text-align: end;
}

.nav-link:hover {
    color: aliceblue;
}

.input-group {
    width: auto; 
    margin: 1rem;
    padding-left: 15px;

}

.percent {
    padding-left: 15px;
}

.form-control{
    width: 100%;
}

.form-control:focus{
    box-shadow: none;
}

.input-group-text{
    width: 45px;
    text-align: center;
    color: #602ac4;
    background-color: beige;
}

.botao-calcular {
    background-color: #602ac4;
}

button {
    width: 109px;
}

.container-calculo{
    margin: 8em auto;
}

#resultado {
    padding: 20px;
    color: beige;
}

@media screen and (max-width: 500px) {
    .lead {
        font-size: 15px;
    }
}