.background-site{
    background-color: #0e0019;
}
header, .navbar{
    background-color: #0e0019;
}
nav {
    border-bottom: 1px solid #7931ff;
}

.titulo {
    font-family: inter;
    width: 40%;
}
.botao-navbar {
    border-color: #602ac4;
    
}

.navbar-collapse {
    flex-grow: 0;
    transition: 0.7s;
    margin: 1em 2em 0 0;
}
.navegacao a {
    color: #7931ff;
    font-family: inter;
    font-size: 1.3em;
    text-align: end;
}

.nav-link:hover {
    color: aliceblue;
}

.input-group {
    width: auto; 
    margin: 1rem;
    padding-left: 15px;

}

.percent {
    padding-left: 15px;
}

.form-control{
    width: 100%;
}

.form-control:focus{
    box-shadow: none;
}

.input-group-text{
    width: 45px;
    text-align: center;
    color: #602ac4;
    background-color: beige;
}

#calcular, #reset {
    width: 109px;
}

.botao-calcular {
    background-color: #602ac4;
}
.botao-calcular:hover{
    background-color: #501caf;
}

.botao-reset {
    background-color: beige;
    color: #602ac4;
}

.info {
    position: relative;
    left: 10px;
}

.container-calculo{
    margin: 8em auto;
}

#resultado {
    color: beige;
}

#alerta-calculo {
    color: #8f57f6;
}

.titulo-investidores {
    margin: 2em auto;
}

.row {
    width: 90%;
    margin: auto;
}

.conteudo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.featurette-heading {
    font-family: inter;
}

.contato {
    text-align: center;
    font-family: inter;
}

.footer-list {
    list-style: none;
    padding: 10px;
}

.footer-list:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.logos-footer {
    border-radius: 8px;
}

.copyright {
    font-size: small;
    font-family: monospace;
}


.botaoVoltar {
    text-decoration: none;
    background-color: #602ac4;
    font-family: Inter;
    margin-bottom: 30px;

}

.botaoVoltar a {
    color: beige;
    text-decoration: none;
}


@media screen and (max-width: 500px) {
    .lead {
        font-size: 15px;
    }
    .logos-footer {
        width: 30px;
    }
    
}